<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('layouts/partials/head') %>
  <h2>Welcome to CSE MOTORS</h2>
  <p>This is the home page.</p>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/inv">Inventory</a></li>
      </ul>
    </nav>
  </header>

  <main>

    <section class="images">
      <img src="/images/site/checkerboard.jpg" alt="Site checkerboard">
      <img src="/images/site/favicon-32x32.png" alt="Site favicon">
      <img src="/images/site/icon.png" alt="Site icon">
      <img src="/images/site/own_today.png" alt="Site own today">
      <img src="/images/site/small_check.jpg" alt="Site small check">

      <img src="/images/upgrades/bumper_sticker.jpg" alt="Upgrades bumper sticker">
      <img src="/images/upgrades/flame.jpg" alt="Upgrades flame">
      <img src="/images/upgrades/flux_cap.jpg" alt="Upgrades flux capacitor">
      <img src="/images/upgrades/hub_cap.jpg" alt="Upgrades hub cap">

      <img src="/images/vehicles/adventador-tn.jpg" alt="Vehicles Adventador thumbnail">
      <img src="/images/vehicles/adventador.jpg" alt="Vehicles Adventador">
      <img src="/images/vehicles/aerocar-tn.jpg" alt="Vehicles Aerocar thumbnail">
      <img src="/images/vehicles/aerocar.jpg" alt="Vehicles Aerocar">
      <img src="/images/vehicles/batmobile-tn.jpg" alt="Vehicles Batmobile thumbnail">
      <img src="/images/vehicles/batmobile.jpg" alt="Vehicles Batmobile">
      <img src="/images/vehicles/camaro-tn.jpg" alt="Vehicles Camaro thumbnail">
      <img src="/images/vehicles/camaro.jpg" alt="Vehicles Camaro">
      <img src="/images/vehicles/crwn-vic-tn.jpg" alt="Vehicles Crown Victoria thumbnail">
      <img src="/images/vehicles/crwn-vic.jpg" alt="Vehicles Crown Victoria">
      <img src="/images/vehicles/delorean-tn.jpg" alt="Vehicles DeLorean thumbnail">
      <img src="/images/vehicles/delorean.jpg" alt="Vehicles DeLorean">
      <img src="/images/vehicles/dog-car-tn.jpg" alt="Vehicles Dog Car thumbnail">
      <img src="/images/vehicles/dog-car.jpg" alt="Vehicles Dog Car">
      <img src="/images/vehicles/escalade-tn.jpg" alt="Vehicles Escalade thumbnail">
      <img src="/images/vehicles/escalade.jpg" alt="Vehicles Escalade">
      <img src="/images/vehicles/fire-truck-tn.jpg" alt="Vehicles Fire Truck thumbnail">
      <img src="/images/vehicles/fire-truck.jpg" alt="Vehicles Fire Truck">
      <img src="/images/vehicles/hummer-tn.jpg" alt="Vehicles Hummer thumbnail">
      <img src="/images/vehicles/hummer.jpg" alt="Vehicles Hummer">
      <img src="/images/vehicles/mechanic-tn.jpg" alt="Vehicles Mechanic thumbnail">
      <img src="/images/vehicles/mechanic.jpg" alt="Vehicles Mechanic">
      <img src="/images/vehicles/model-t-tn.jpg" alt="Vehicles Model T thumbnail">
      <img src="/images/vehicles/model-t.jpg" alt="Vehicles Model T">
      <img src="/images/vehicles/monster-truck-tn.jpg" alt="Vehicles Monster Truck thumbnail">
      <img src="/images/vehicles/monster-truck.jpg" alt="Vehicles Monster Truck">
      <img src="/images/vehicles/mystery-van-tn.jpg" alt="Vehicles Mystery Van thumbnail">
      <img src="/images/vehicles/mystery-van.jpg" alt="Vehicles Mystery Van">
      <img src="/images/vehicles/no-image-tn.png" alt="Vehicles No Image thumbnail">
      <img src="/images/vehicles/no-image.png" alt="Vehicles No Image">
      <img src="/images/vehicles/survan-tn.jpg" alt="Vehicles Survan thumbnail">
      <img src="/images/vehicles/survan.jpg" alt="Vehicles Survan">
      <img src="/images/vehicles/wrangler-tn.jpg" alt="Vehicles Wrangler thumbnail">
      <img src="/images/vehicles/wrangler.jpg" alt="Vehicles Wrangler">
    </section>
  </main>

  <footer>
    <p>&copy; 2024 My New Repository</p>
  </footer>
</body>

</html>